body {
    background-color: #fff8e1;
    font-family: Arial, sans-serif;
    text-align: center;
}

header {
    background-color: #ff9800;
    color: white;
    padding: 20px;
}

main {
    padding: 20px;
}

h2 {
    color: #ff5722;
}

ul, ol {
    list-style-type: square;
}