body {
    font-family: Arial, sans-serif;
    background-color: #aff091;
    color: #333;
    text-align: center;
    margin: 0;
    padding: 0;
  }
  header {
    background-color: #7a9e7e;
    color: white;
    padding: 20px;
  }
  
  h2 {
    color: #4d6c4d;
  }
  
  p {
    font-size: 1.2rem;
  }
  
  img {
    width: 300px;
    height: auto;
    border: 5px solid #7a9e7e;
  }
  
  
  ul {
    list-style-type: square;
    text-align: left;
   
  }
  
  
  ol {
    text-align: left;
  
  }
  
  
  footer {
    background-color: #7a9e7e;
    color: white;
    width: 100%;
    padding: 10px;;
  }