* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body{
     background-color: #FFF4B7;
    
  }
  
  
  
  header {
    background-color: #11198d;
    color: rgb(158, 19, 201);
  text-align:center;
    height:80px;
  }
  h1 {
    font-size: 65px;
    text-align: center;
    color:#006A67;
  }
  .introduction {
    background-color: #B9E5E8;
  border: 2px solid #FFC94A;
    width:900px;
  padding: 50px;
   margin-left: 320px;
  
  }
   p{
    font-size: 35px;
    margin: 20px 0;
    color:#006A67;
     text-align: center;
  }
  .content{
    padding: 20px;
    background-color: #FFDA76;
    border: 2px dashed #50C4ED;
    margin: 20px;
  }
  ul, ol {
    text-align: left;
    margin: 20px ;
    padding-left: 40px;
  }
  ul li, ol li {
    margin-bottom: 10px;
    color: #070F2B;
    font-size:18px;
  }
  h2 {
    font-size: 40px;
    color: #6c5ce7;
    margin-top: 20px;
    text-align:center;
  }
  img{
    height:100px;
    width:150px;
  }
  footer {
    background-color: #11198d;
    color: #dfe6e9;
    padding: 20px 0;
    margin-top: 20px;
  }